:root{
    --cor__primaria: #123456;
    --cor__secundaria: #ff1414;
    
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #272928, #45a049);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: var(--cor__primaria);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

h3 {
    color: var(--cor__primaria);
    margin-top: 20px;
}

#error-message {
    color: var(--cor__secundaria);
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
